<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="E:/Stuff/Study/Automation Testing/ICRAT TestSuite/ICRAT.TestSuite">
        <classes>

            <class name="tests.BaseTest"></class>
            <class name="tests.generalsetups.CountriesTests"></class>
            <class name="tests.generalsetups.TenorsTests"></class>
            <class name="tests.generalsetups.IssuersTests"></class>
            <class name="tests.generalsetups.CurrenciesTests"></class>
            <class name="tests.generalsetups.SectorsTests"></class>
        </classes>
    </test>
</suite>